@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?7fhrp7');
    src:  url('fonts/icomoon.eot?7fhrp7#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?7fhrp7') format('truetype'),
      url('fonts/icomoon.woff?7fhrp7') format('woff'),
      url('fonts/icomoon.svg?7fhrp7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-phone:before {
    content: "\e900";
  }
  .icon-cosmetic:before {
    content: "\e901";
  }
  .icon-facebook:before {
    content: "\e902";
  }
  .icon-instagram:before {
    content: "\e903";
  }
  .icon-mail:before {
    content: "\e904";
  }
  .icon-map-pin:before {
    content: "\e905";
  }
  .icon-menu:before {
    content: "\e906";
  }
  .icon-trim:before {
    content: "\e907";
  }
  .icon-whatsapp:before {
    content: "\e908";
  }
  .icon-woman-hair:before {
    content: "\e909";
  }
  .icon-youtube:before {
    content: "\e90a";
  }
  .icon-close:before {
    content: "\e90b";
  }
  